body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

#container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#chatContainer {
    margin-top: 30px;
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul#messages {
    height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

ul#messages li {
    background-color: #e0f7fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}
